<div>
  <h2>DashBoard</h2>
  <% @posts.each do |post| %>
    <section>
        <%= render post %>
        <p>comment: <%= post.comments.count %></p>
        <%= render post.comments %>
    </section>
  <% end %>

  <%= render 'posts/paging', page: @page %>
</div>
