<% title = "#{@user.name}'s blog" %>
<% content_for :title, title %>

<h2>
  <%= link_to title, user_posts_path(@user) %>
</h2>
<% if notice.present? %>
  <p><%= notice %></p>
<% end %>
<% @posts.each do |post| %>
  <section>
    <%= render post %>
  </section>
<% end %>
<%= render 'posts/paging', page: @page %>

